<link rel="stylesheet" href="/style/style.css">

<header>
    <div>
        <img src="/img/encabezado.jpg" alt="encabezado">
        <nav class="navb">
            <ul class="texto_alineado">
                <li><a href="/index.html">Home</a></li>
                <li><a href="Catalog.html">Catalog</a></li>
                <li><a href="contacts.html">Contacts</a></li>
            </ul>
        </nav>
    </div>

</header>

<body>
    
    <div class="card">
        <img src="/img/comidaperros.webp" alt="comida de perro" class="card-img">
        <div class="card-content">
            <h5 class="card-title">Pet cam croquetas</h5>
            <p class="card-description">Esta concentrado de perro tiene proteínas y un buen sanón para que el perro no pierda el pelo rápido.</p>
            <label for="precio" class="card-price">Q 5.00 / libra</label>
            <a href="/templates/detalle.html" class="card-link">Detalle</a>
        </div>
    </div>
    
    <div class="card">
        <img src="/img/juguetes.jpeg" alt="comida de perro" class="card-img">
        <div class="card-content">
            <h5 class="card-title">Jugueton</h5>
            <p class="card-description">Este es un kit de de juguetes para su mascotas.</p>
            <label for="precio" class="card-price">Q 35.00 el kit</label>
            <a href="/templates/detalle.html" class="card-link">Detalle</a>
        </div>
    </div>
    <div class="card">
        <img src="/img/perroscomida.jpeg" alt="comida de perro" class="card-img">
        <div class="card-content">
            <h5 class="card-title">supercam</h5>
            <p class="card-description">Concentra que trae toda la vitaminas para su dieta.</p>
            <label for="precio" class="card-price">Q 10.00 / libra</label>
            <a href="/templates/detalle.html" class="card-link">Detalle</a>
        </div>
    </div>
    <div class="card">
        <img src="/img/camisawoman.jpg" alt="comida de perro" class="card-img">
        <div class="card-content">
            <h5 class="card-title">blusa</h5>
            <p class="card-description">Para la mamá que ama a su hijo peludito.</p>
            <label for="precio" class="card-price">Q 55.00</label>
            <a href="/templates/detalle.html" class="card-link">Detalle</a>
        </div>
    </div>
    <div class="card">
        <img src="/img/catcomida.jpeg" alt="comida de perro" class="card-img">
        <div class="card-content">
            <h5 class="card-title">ultimacat</h5>
            <p class="card-description">comida para su gato guerrero que sale a pelear en el techo su vivienda, bolsas de 10 libras.</p>
            <label for="precio" class="card-price">Q .45.00</label>
            <a href="/templates/detalle.html" class="card-link">Detalle</a>
        </div>
    </div>
</body>