<link rel="stylesheet" href="/style/style.css">

</body>

</html>

<header>
    <div>
        <img src="/img/encabezado.jpg" alt="encabezado">
        <nav class="navb">
            <ul class="texto_alineado">
                <li><a href="/index.html">Home</a></li>
                <li><a href="Catalog.html">Catalog</a></li>
                <li><a href="contacts.html">Contacts</a></li>
            </ul>
        </nav>
    </div>

</header>

<body>

    <form action="POST" style="color: white;">contacts</form>
    <label for="name" style="color: white;">nombre</label>
    <input type="text" name="name" id="name" style="width: 25%; ">
    <label for="surname" style="color: white;">apellido</label>
    <input type="text" name="surname" id="surname" style="width: 25%; ">
    <label for="phone" style="color: white;">telefono</label>
    <input type="number" name="phone" id="phone" style="width: 25%; ">
    <label for="correo" style="color: white;">Correo electronico</label>
    <input type="email" name="correo" id="correo" style="width: 25%; ">
    <label for="mensaje" style="color: white;">Agrege su mensaje</label>
    <textarea id="comentarios" name="comentarios" required></textarea>
    <br>
    <input type="submit" value="enviar">

</body>